@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-50;
  }
}

@layer components {
  select, input[type="number"] {
    @apply block w-full rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring-blue-500;
  }
}

@layer utilities {
  .grid-cols-20 {
    grid-template-columns: repeat(20, minmax(0, 1fr));
  }
}

/* Adiciona padding inferior para o conteúdo não ficar atrás da navbar */
.pb-safe {
  padding-bottom: env(safe-area-inset-bottom, 0);
}

/* Garante que o conteúdo principal não fique escondido atrás da navbar */
.min-h-screen {
  padding-bottom: 4rem;
}